.row {
  display: flex;
  gap: 5px;
}

.grid {
  display: grid;
  overflow: hidden;
  grid-auto-rows: 1fr;
  grid-column-gap: 0;
}

.grid1 {
  grid-template-columns: repeat(1, 1fr);
}

.grid2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid6 {
  grid-template-columns: repeat(6, 1fr);
}

.grid7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid8 {
  grid-template-columns: repeat(8, 1fr);
}

.grid9 {
  grid-template-columns: repeat(9, 1fr);
}

.grid10 {
  grid-template-columns: repeat(10, 1fr);
}

.grid11 {
  grid-template-columns: repeat(11, 1fr);
}

.grid12 {
  grid-template-columns: repeat(12, 1fr);
}

.col1 {
  flex-basis: 8.3333333333%;
  box-sizing: border-box;
}

.col2 {
  flex-basis: 16.6666666667%;
  box-sizing: border-box;
}

.col3 {
  flex-basis: 25%;
  box-sizing: border-box;
}

.col4 {
  flex-basis: 33.3333333333%;
  box-sizing: border-box;
}

.col5 {
  flex-basis: 41.6666666667%;
  box-sizing: border-box;
}

.col6 {
  flex-basis: 50%;
  box-sizing: border-box;
}

.col7 {
  flex-basis: 58.3333333333%;
  box-sizing: border-box;
}

.col8 {
  flex-basis: 66.6666666667%;
  box-sizing: border-box;
}

.col9 {
  flex-basis: 75%;
  box-sizing: border-box;
}

.col10 {
  flex-basis: 83.3333333333%;
  box-sizing: border-box;
}

.col11 {
  flex-basis: 91.6666666667%;
  box-sizing: border-box;
}

.col12 {
  flex-basis: 100%;
  box-sizing: border-box;
}

.btn {
  border: 1px solid;
  border-radius: 7px;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  min-width: 175px;
  height: 50px;
}
.btn.btn-primary {
  background-color: #ecaa42;
  border-color: #ecaa42;
  color: #f5e7d1;
  transition: 0.3s;
}
.btn.btn-primary:hover {
  background-color: rgba(236, 170, 66, 0.8);
  border-color: rgba(236, 170, 66, 0.6);
  cursor: pointer;
  transition: 0.3s;
}

html {
  background-color: #252e33;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

body {
  color: #f5e7d1;
  margin: 0;
}

.container {
  margin: auto;
  max-width: 1440px;
  padding-right: 15px;
  padding-left: 15px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.mt-0 {
  margin-top: 0rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.ml-0 {
  margin-left: 0rem !important;
}

.mr-0 {
  margin-right: 0rem !important;
}

.pt-0 {
  padding-top: 0rem !important;
}

.pb-0 {
  padding-bottom: 0rem !important;
}

.pl-0 {
  padding-left: 0rem !important;
}

.pr-0 {
  padding-right: 0rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.pl-4 {
  padding-left: 4rem !important;
}

.pr-4 {
  padding-right: 4rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.pl-5 {
  padding-left: 5rem !important;
}

.pr-5 {
  padding-right: 5rem !important;
}

.separator {
  border: 2px solid;
  margin: 3vw 5vw;
}
.separator.light {
  border-color: #f5e7d1;
}
.separator.grey {
  border-color: #81848a;
}

#header .header--content {
  position: relative;
}
#header .header--content .header--content--slide--item {
  align-items: flex-end;
  display: flex;
}
#header .header--content .header--content--background {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: -1;
}
#header .header--content .header--content--background:before {
  content: "";
  background-color: rgba(37, 46, 51, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
}
#header .header--content .header--content--background video {
  width: 100%;
}
#header .header--content .header--content--sidebar--left {
  align-items: center;
  background-color: rgba(89, 89, 89, 0.9);
  display: flex;
  height: 100vh;
  max-width: 500px;
  width: 35vw;
}
#header .header--content .header--content--sidebar--left .header--content--title .title {
  color: #ecaa42;
  font-family: "Archivo Black", sans-serif;
  font-size: 82px;
  font-weight: 900;
  left: 25vh;
  position: relative;
  text-transform: uppercase;
  width: max-content;
}
#header .header--content .header--content--sidebar--left .header--content--description {
  max-width: 350px;
  padding-left: 10vh;
  padding-right: 5vh;
}
#header .header--content .header--content--sidebar--left .header--content--description .header--content--description--text {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
#header .header--content .header--content--sidebar-bottom {
  align-items: center;
  background-color: rgba(64, 64, 64, 0.9);
  display: flex;
  height: 100vh;
  max-width: 55vw;
  max-height: 180px;
  min-width: 55vw;
}
#header .header--content .header--content--sidebar-bottom .header--content--year,
#header .header--content .header--content--sidebar-bottom .header--content--tag {
  color: #81848a;
  font-size: 32px;
  font-weight: 600;
}
#header .header--content .header--content--sidebar-bottom .header--content--year {
  margin-left: 5vw;
}
#header .header--content .header--content--sidebar-bottom .header--content--tag {
  margin-left: 5vw;
  margin-right: -10vw;
}

#about .content .about--content {
  height: 100%;
  position: relative;
}
#about .content .about--content .about--content--image {
  position: sticky;
  top: 5vw;
}
#about .content .about--content .about--content--image img {
  border-radius: 25px;
}
#about .content .about--content .about--content--container {
  background-color: #ecaa42;
  border-radius: 25px;
  padding: 5% 10%;
}
#about .content .about--content .about--content--container .about--content--title {
  font-family: "Archivo", sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
}
#about .content .about--content .about--content--container .about--content--paragraph {
  font-size: 26px;
  line-height: 30px;
}
#about .content .about--content .about--content--container .about--content--paragraph .about--content--paragraph--item {
  min-height: 30vw;
}

#info--video .info--container .row,
#info--photo .info--container .row {
  gap: 0;
}
#info--video .info--container .info--container--content,
#info--photo .info--container .info--container--content {
  background-color: #81848a;
  height: 100%;
  padding: 6rem 4rem;
}
#info--video .info--container .info--container--content .info--container--content--title,
#info--photo .info--container .info--container--content .info--container--content--title {
  font-size: 58px;
  line-height: 58px;
  font-weight: 700;
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
  max-width: 400px;
}
#info--video .info--container .info--container--image,
#info--photo .info--container .info--container--image {
  height: 100%;
  width: 100%;
}
#info--video .info--container .info--container--image div,
#info--photo .info--container .info--container--image div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#contact .contact--title {
  font-size: 89px;
  margin-bottom: 0;
  margin-left: 5vw;
  text-transform: uppercase;
}

#footer {
  font-size: 1.4vw;
  text-transform: uppercase;
  font-weight: 500;
  padding: 5vw;
}
#footer .madeby {
  margin-left: 3vw;
}
#footer .madeby a {
  color: #f5e7d1;
  text-decoration: none;
}
#footer .madeby a:hover {
  color: #ecaa42;
  transition: 0.3s;
}

/*# sourceMappingURL=style.css.map */
