
@use "../config" as *;

body {
  font-family: $font-default;
  overflow-x: hidden;
  padding: 0 !important;
  margin: 0 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: absolute;
  top: 0;
  left: 0;
}

.container-fluid { width: 100vw; }

html {
  &.lenis { scroll-behavior: initial; }

  &::-webkit-scrollbar {
    display: none;
  }
}

section {
  padding: 50px 0;

  @include media-breakpoint-up(lg) { padding: 75px 0; }

  @include media-breakpoint-up(xl) {
    padding: 100px 0;
  }
}

* { box-sizing: border-box; }

.b-gutenberg {
  &:first-child {
    margin-top: 30px;

    @include media-breakpoint-up(md) { margin-top: 60px; }

    @include media-breakpoint-up(xl) { margin-top: 150px; }
  }

  &:last-child {
    margin-bottom: 30px;

    @include media-breakpoint-up(md) { margin-bottom: 60px; }

    @include media-breakpoint-up(xl) { margin-bottom: 150px; }
  }
}

.header__page-name {
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  text-align: center;
}

// div[data-router-view="page"] {
//   margin-top: 30px;

//   @include media-breakpoint-down(lg) { margin-top: 80px; }

//   &.project {
//     @include media-breakpoint-down(lg) { margin-top: 130px; }
//   }
// }
