@use "../config" as *;

.b-gallery {
  &__item {
    margin: 75px auto;

    &:first-child,
    &:last-child { margin-top: 0; }
  }

  &__preview {
    display: none;
    position: sticky;
    top: 0;

    @include media-breakpoint-up(lg) { display: block; }

    &-wrapper {
      height: 100vh;
      overflow: hidden;
    }

    &-item {
      margin: 10px auto;

      &:first-child,
      &:last-child { margin-top: 0; }
    }
  }
}
