@use "../config" as *;

.header {
  overflow-x: clip;
  width: 100vw;
  z-index: $z-header;

  &__toggler {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-right: 10px;
    cursor: pointer;
    z-index: 2;

    @include media-breakpoint-up(lg) { display: none; }

    span,
    div {
      width: 23px;
      height: 3px;
      background-color: $black;
    }

    span {
      display: block;
      transform: scaleX(1);
      transform-origin: right;
      transition: transform 0.5s $ease-out calc(var(--transition-order) * 100ms + 500ms);

      &:not(:first-child) { margin-top: 5px; }
    }

    div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg) scaleX(0);
      transition: transform 0.5s $ease-out calc(var(--transition-order) * 100ms);
      background-color: $white;

      &:last-child { transform: translate(-50%, -50%) rotate(-45deg) scaleX(0); }
    }

    &.open {
      span {
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s $ease-out calc(var(--transition-order) * 100ms);
      }

      div {
        transform: translate(-50%, -50%) rotate(45deg) scaleX(1);
        transition: transform 0.5s $ease-out calc(var(--transition-order) * 100ms + 500ms);

        &:last-child { transform: translate(-50%, -50%) rotate(-45deg) scaleX(1); }
      }
    }
  }

  &__page {
    &-name {
      display: none;
      color: $black;

      @include f24;

      @include media-breakpoint-up(lg) { display: block; }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 50px 0;

    &-logo {
      position: relative;
      z-index: 2;
      mix-blend-mode: difference;

      @include f24;

      &::after {
        content: "";
        position: absolute;
        top: 10px;
        right: -20px;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        background: $primary;
      }

      a {
        color: $black;
      }
    }

    &-menu {
      @include media-breakpoint-down(lg) {
        display: flex;
        align-items: start;
        justify-content: end;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $black;
        mix-blend-mode: screen;
        opacity: 0;
      }

      &__item {
        display: inline-block;
        margin: 15px 10px;

        @include media-breakpoint-up(lg) {
          margin: auto 10px;

          &:first-child { margin-left: 0; }
          &:last-child { margin-right: 0; }
        }

        &-link {
          font-family: $font-heading;
          color: $white;

          @include f48;

          @include media-breakpoint-up(lg) {
            color: $black;

            @include f24;
          }
        }
      }

      &__dev {
        margin: 50px 10px 20px;
        color: $white;
        font-style: italic;

        a {
          color: $white;
          text-decoration: underline;
        }

        @include media-breakpoint-up(lg) { display: none; }
      }

      &__contact {
        position: absolute;
        top: 130px;
        right: 10px;
        text-align: right;

        @include media-breakpoint-up(lg) { display: none; }

        &-item {
          margin-bottom: 20px;
          font-style: italic;
        }

        &-item,
        a { color: $white; }
      }

      &__image {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 35%;
        height: 50%;

        .image {
          width: 100%;
          height: 100%;
        }

        @include media-breakpoint-up(lg) { display: none; }
      }
    }
  }
}
