#about {
  .content {
    .about--content {
      height: 100%;
      position: relative;
      .about--content--image {
        position: sticky;
        top: 5vw;
        img {
          border-radius: 25px;
        }
      }
      .about--content--container {
        background-color: $yellow;
        border-radius: 25px;
        padding: 5% 10%;
        .about--content--title {
        }
        .about--content--paragraph {
          .about--content--paragraph--item {
            min-height: 30vw;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  #about {
    .content {
      .about--content {
        .about--content--image {
          text-align: center;
        }
        .about--content--container {
          .about--content--paragraph {
            .about--content--paragraph--item {
              min-height: 30vw;
            }
          }
        }
      }
    }
  }
}
