#header {
  .header--content {
    position: relative;
    .header--content--slide--item {
      align-items: flex-end;
      display: flex;
    }
    .header--content--background {
      height: 100vh;
      width: 100%;
      position: absolute;
      z-index: -1;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      &:before {
        content: '';
        background-color: rgba(37, 46, 51, 0.4);
        width: 100%;
        height: 100%;
        position: absolute;
      }
      video {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
      }
    }
    .header--content--sidebar--left {
      align-items: center;
      background-color: rgba(89, 89, 89, .9);
      display: flex;
      height: 100vh;
      max-width: 500px;
      width: 35vw;
      .header--content--title {
        .title {
          color: $yellow;
          font-family: $archivo-black;
          font-size: 82px;
          font-weight: 900;
          left: 25vh;
          position: relative;
          text-transform: uppercase;
          width: max-content;
        }
      }
      .header--content--description {
        max-width: 350px;
        padding-left: 10vh;
        padding-right: 5vh;
        .header--content--description--text {
          font-size: 18px;
          line-height: 24px;
          letter-spacing: 0.5px;
        }
      }
    }
    .header--content--sidebar-bottom {
      align-items: center;
      background-color: rgba(64, 64, 64, .9);
      display: flex;
      height: 100vh;
      max-width: 55vw;
      max-height: 180px;
      min-width: 55vw;

      .header--content--year,
      .header--content--tag {
        color: $grey;
        font-size: 32px;
        font-weight: 600;
      }
      .header--content--year {
        margin-left: 5vw;
      }
      .header--content--tag {
        margin-left: 5vw;
        margin-right: -10vw;
      }
    }
  }
}
